{% extends 'base.html' %}

{% block content %}
<!-- main-area -->
<main class="main-content">
    <div class="noise-bg" data-background="assets/img/bg/noise_bg.png" style="background-image: url(&quot;assets/img/bg/noise_bg.png&quot;);"></div>
    <div class="main-shape" data-background="assets/img/images/main_shape.png" style="background-image: url(&quot;assets/img/images/main_shape.png&quot;);"></div>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="title"><span>{{ content.section }}</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- blog-details-area -->
    <section class="blog-details-area pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-details-wrap">
                        <div class="blog-details-content">
                            {{ content.legal_content|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-details-area-end -->

</main>
<!-- main-area-end -->
{% endblock %}